<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/Images/SN_logo.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1>Extracting Stock Data Using a Web Scraping</h1>

Not all stock data is available via the API in this assignment; you will use web-scraping to obtain financial data. You will be quizzed on your results.  
 You will extract and share historical data from a web page using the BeautifulSoup library.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    
1. Extracting data using BeautifulSoup
   
    <ul> 
    <li> Download the web page Using Requests Library </li>
    <li> Parse HTML on a web page using BeautifulSoup </li>
    <li> Extract data and duild a data frame </li>

    </ul>

2. Extracting data using pandas
3. Exercise
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [ ]:
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y 
!pip install lxml==4.6.4
#!pip install plotly==5.3.1

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [4]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Using Webscraping to Extract Stock Data Example

We will extract Netflix stock data [https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html).

<center> 
    
#### In this example, we are using yahoo finance website and looking to extract Netflix data.

</center>
    <br>

  <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/Images/netflix.png"> </center> 
  
<center> Fig:- Table that we need to extract </center>

On the following web page we have a table with columns name (Date, Open, High, Low, close, adj close volume) out of which we must extract following columns  

* Date 

* Open  

* High 

* Low 

* Close 

* Volume

# Steps for extracting the data
1. Send an HTTP request to the web page using the requests library.
2. Parse the HTML content of the web page using BeautifulSoup.
3. Identify the HTML tags that contain the data you want to extract.
4. Use BeautifulSoup methods to extract the data from the HTML tags.
5. Print the extracted data

### Step 1: Send an HTTP request to the web page

You will use the request library for sending an HTTP request to the web page.<br>

In [5]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

The requests.get() method takes a URL as its first argument, which specifies the location of the resource to be retrieved. In this case, the value of the url variable is passed as the argument to the requests.get() method, because you will store a web page URL in a url variable.

You use the .text method for extracting the HTML content as a string in order to make it readable.

In [ ]:
data  = requests.get(url).text
print(data)

### Step 2: Parse the HTML content

<hr>
<hr>
<center>

# What is parsing?
In simple words, parsing refers to the process of analyzing a string of text or a data structure, usually following a set of rules or grammar, to understand its structure and meaning.
Parsing involves breaking down a piece of text or data into its individual components or elements, and then analyzing those components to extract the desired information or to understand their relationships and meanings.</center>
<hr>
<hr>

Next you will take the raw HTML content of a web page or a string of HTML code which needs to be parsed and transformed into a structured, hierarchical format that can be more easily analyzed and manipulated in Python. This can be done using a Python library called <b>Beautiful Soup</b>.

## Parsing the data using the BeautifulSoup library
* Create a new BeautifulSoup object.
<br>
<br>
<b>Note: </b>To create a BeautifulSoup object in Python, you need to pass two arguments to its constructor:

1. The HTML or XML content that you want to parse as a string.
2. The name of the parser that you want to use to parse the HTML or XML content. This argument is optional, and if you don't specify a parser, BeautifulSoup will use the default HTML parser included with the library.
here in this lab we are using "html5lib" parser.

In [8]:
soup = BeautifulSoup(data, 'html.parser')

### Step 3: Identify the HTML tags

As stated above, the web page consists of a table so, we will scrape the content of the HTML web page and convert the table into a data frame.

You will create an empty data frame using the <b> pd.DataFrame() </b> function with the following columns:
* "Date"
* "Open"
* "High" 
* "Low" 
* "Close"
* "Volume"

In [ ]:
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

<hr>
<hr>
<center>

### Working on HTML table  </center>
<br>

These are the following tags which are used while creating HTML tables.

* &lt;table&gt;: This tag is a root tag used to define the start and end of the table. All the content of the table is enclosed within these tags. 


* &lt;tr&gt;: This tag is used to define a table row. Each row of the table is defined within this tag.

* &lt;td&gt;: This tag is used to define a table cell. Each cell of the table is defined within this tag. You can specify the content of the cell between the opening and closing <td> tags.

* &lt;th&gt;: This tag is used to define a header cell in the table. The header cell is used to describe the contents of a column or row. By default, the text inside a <th> tag is bold and centered.

* &lt;tbody&gt;: This is the main content of the table, which is defined using the <tbody> tag. It contains one or more rows of <tr> elements.

<hr>
<hr>

### Step 4: Use a BeautifulSoup method for extracting data


We will use <b>find()</b> and <b>find_all()</b> methods of the BeautifulSoup object to locate the table body and table row respectively in the HTML. 
   * The <i>find() method </i> will return particular tag content.
   * The <i>find_all()</i> method returns a list of all matching tags in the HTML.

In [ ]:
# First we isolate the body of the table which contains all the information
# Then we loop through each row and find all the column values for each row
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    # Finally we append the data of each row to the table
    netflix_data = netflix_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

### Step 5: Print the extracted data

We can now print out the data frame using the head() or tail() function.

In [ ]:
netflix_data.head()

# Extracting data using `pandas` library

We can also use the pandas `read_html` function from the pandas library and use the URL for extracting data.

<center>

## What is read_html in pandas library?
`pd.read_html(url)` is a function provided by the pandas library in Python that is used to extract tables from HTML web pages. It takes in a URL as input and returns a list of all the tables found on the web page. 
</center>

In [ ]:
read_html_pandas_data = pd.read_html(url)

Or you can convert the BeautifulSoup object to a string.

In [ ]:
read_html_pandas_data = pd.read_html(str(soup))

Because there is only one table on the page, just take the first table in the returned list.

In [ ]:
netflix_dataframe = read_html_pandas_data[0]

netflix_dataframe.head()

# Exercise: use webscraping to extract stock data

Use the `requests` library to download the webpage [https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html). Save the text of the response as a variable named `html_data`.

In [18]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html'
data  = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [19]:
soup = BeautifulSoup(data, 'html.parser')

<b>Question 1:</b> What is the content of the title attribute?

In [20]:
title = soup.find('title')
title.string

'Amazon.com, Inc. (AMZN) Stock Historical Prices & Data - Yahoo Finance'

Using BeautifulSoup, extract the table with historical share prices and store it into a data frame named `amazon_data`. The data frame should have columns Date, Open, High, Low, Close, Adj Close, and Volume. Fill in each variable with the correct data from the list `col`.

In [21]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0] #ADD_CODE
    Open = col[1] #ADD_CODE
    high = col[2] #ADD_CODE
    low = col[3] #ADD_CODE
    close = col[4] #ADD_CODE
    adj_close = col[5] #ADD_CODE
    volume = col[6] #ADD_CODE
    
    amazon_data = amazon_data.append({"Date":date, "Open":Open, "High":high, "Low":low, "Close":close, "Adj Close":adj_close, "Volume":volume}, ignore_index=True)

Print out the first five rows of the `amazon_data` data frame you created.

In [22]:
amazon_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,"[[Jan 01, 2021]]","[[3,270.00]]","[[3,363.89]]","[[3,086.00]]","[[3,206.20]]","[[3,206.20]]","[[71,528,900]]"
1,"[[Dec 01, 2020]]","[[3,188.50]]","[[3,350.65]]","[[3,072.82]]","[[3,256.93]]","[[3,256.93]]","[[77,556,200]]"
2,"[[Nov 01, 2020]]","[[3,061.74]]","[[3,366.80]]","[[2,950.12]]","[[3,168.04]]","[[3,168.04]]","[[90,810,500]]"
3,"[[Oct 01, 2020]]","[[3,208.00]]","[[3,496.24]]","[[3,019.00]]","[[3,036.15]]","[[3,036.15]]","[[116,226,100]]"
4,"[[Sep 01, 2020]]","[[3,489.58]]","[[3,552.25]]","[[2,871.00]]","[[3,148.73]]","[[3,148.73]]","[[115,899,300]]"

<b>Question 2:</b> What are the names of the columns in the data frame?

In [ ]:
"Date", "Open", "High", "Low", "Close", "Adj Close", "Volume"

<b>Question 3:</b> What is the `Open` of the last row of the amazon_data data frame?

In [23]:
amazon_data.head(25)

,Date,Open,High,Low,Close,Adj Close,Volume
0,"[[Jan 01, 2021]]","[[3,270.00]]","[[3,363.89]]","[[3,086.00]]","[[3,206.20]]","[[3,206.20]]","[[71,528,900]]"
1,"[[Dec 01, 2020]]","[[3,188.50]]","[[3,350.65]]","[[3,072.82]]","[[3,256.93]]","[[3,256.93]]","[[77,556,200]]"
2,"[[Nov 01, 2020]]","[[3,061.74]]","[[3,366.80]]","[[2,950.12]]","[[3,168.04]]","[[3,168.04]]","[[90,810,500]]"
3,"[[Oct 01, 2020]]","[[3,208.00]]","[[3,496.24]]","[[3,019.00]]","[[3,036.15]]","[[3,036.15]]","[[116,226,100]]"
4,"[[Sep 01, 2020]]","[[3,489.58]]","[[3,552.25]]","[[2,871.00]]","[[3,148.73]]","[[3,148.73]]","[[115,899,300]]"
5,"[[Aug 01, 2020]]","[[3,180.51]]","[[3,495.00]]","[[3,073.00]]","[[3,450.96]]","[[3,450.96]]","[[83,516,600]]"
6,"[[Jul 01, 2020]]","[[2,757.99]]","[[3,344.29]]","[[2,754.00]]","[[3,164.68]]","[[3,164.68]]","[[127,502,000]]"
7,"[[Jun 01, 2020]]","[[2,448.00]]","[[2,796.00]]","[[2,437.13]]","[[2,758.82]]","[[2,758.82]]","[[87,818,300]]"
8,"[[May 01, 2020]]","[[2,336.80]]","[[2,525.45]]","[[2,256.38]]","[[2,442.37]]","[[2,442.37]]","[[82,584,400]]"
9,"[[Apr 01, 2020]]","[[1,932.97]]","[[2,475.00]]","[[1,889.15]]","[[2,474.00]]","[[2,474.00]]","[[124,609,800]]"
10,"[[Mar 01, 2020]]","[[1,906.49]]","[[1,996.33]]","[[1,626.03]]","[[1,949.72]]","[[1,949.72]]","[[163,809,100]]"
11,"[[Feb 01, 2020]]","[[2,010.60]]","[[2,185.95]]","[[1,811.13]]","[[1,883.75]]","[[1,883.75]]","[[92,510,100]]"
12,"[[Jan 01, 2020]]","[[1,875.00]]","[[2,055.72]]","[[1,815.34]]","[[2,008.72]]","[[2,008.72]]","[[84,698,300]]"
13,"[[Dec 01, 2019]]","[[1,804.40]]","[[1,901.40]]","[[1,735.00]]","[[1,847.84]]","[[1,847.84]]","[[68,149,600]]"
14,"[[Nov 01, 2019]]","[[1,788.01]]","[[1,824.69]]","[[1,722.71]]","[[1,800.80]]","[[1,800.80]]","[[52,076,200]]"
15,"[[Oct 01, 2019]]","[[1,746.00]]","[[1,798.85]]","[[1,685.06]]","[[1,776.66]]","[[1,776.66]]","[[70,360,500]]"
16,"[[Sep 01, 2019]]","[[1,770.00]]","[[1,853.66]]","[[1,709.22]]","[[1,735.91]]","[[1,735.91]]","[[61,172,900]]"
17,"[[Aug 01, 2019]]","[[1,871.72]]","[[1,897.92]]","[[1,743.51]]","[[1,776.29]]","[[1,776.29]]","[[79,771,200]]"
18,"[[Jul 01, 2019]]","[[1,922.98]]","[[2,035.80]]","[[1,849.44]]","[[1,866.78]]","[[1,866.78]]","[[73,148,800]]"
19,"[[Jun 01, 2019]]","[[1,760.01]]","[[1,935.20]]","[[1,672.00]]","[[1,893.63]]","[[1,893.63]]","[[74,746,500]]"
20,"[[May 01, 2019]]","[[1,933.09]]","[[1,964.40]]","[[1,772.70]]","[[1,775.07]]","[[1,775.07]]","[[98,214,400]]"
21,"[[Apr 01, 2019]]","[[1,800.11]]","[[1,956.34]]","[[1,798.73]]","[[1,926.52]]","[[1,926.52]]","[[81,239,200]]"
22,"[[Mar 01, 2019]]","[[1,655.13]]","[[1,823.75]]","[[1,586.57]]","[[1,780.75]]","[[1,780.75]]","[[100,832,200]]"
23,"[[Feb 01, 2019]]","[[1,638.88]]","[[1,673.06]]","[[1,566.76]]","[[1,639.83]]","[[1,639.83]]","[[80,936,900]]"
24,"[[Jan 01, 2019]]","[[1,465.20]]","[[1,736.41]]","[[1,460.93]]","[[1,718.73]]","[[1,718.73]]","[[134,001,700]]"

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani<br>
Akansha yadav

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    |       Change Description              |
| ----------------- | ------- | ------------- | ------------------------------------- |
|  02-05-2023       |   1.3   | Akansha yadav | Updated Lab content under maintenance |
|  2021-06-09       | 1.2     | Lakshmi Holla |   Added URL in question 3             |
|  2020-11-10       | 1.1     | Malika Singla |   Deleted the Optional part           |
|  2020-08-27       | 1.0     | Malika Singla |   Added lab to GitLab                 |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>